.editor {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-editor {
  width: 700px;
  min-height: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .editor-logo {
    animation: editor-logo-spin infinite 20s linear;
  }
}

.editor-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.editor-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
